.navbar-nav li a:hover {
  color: #1abc9c !important;
}
/* .container{
  min-height: 100vh;
} */
body{
  position: relative;
  height: 100%;

}

.footer-padding {
  padding-bottom: 80px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.d-flex{
  /* right: 10%; */
  width: 100%;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  /* background-color: #bc531a; */
}
.padding{
  padding-top: 20px;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

/* button{
  margin: 5px;
} */

.compose {
  /* min-height: 100vh;   <-- Remove this line */
  margin-top: 50px;
  height: calc(100vh - 80px); /* Subtract footer height */
}
.post {
  
  margin-top: 50px;
  height: 100vh; /* Subtract footer height */
}

.navgap{
  right: 5%;
  /* @media  (min-width:768px){
   gap: 75%;

  }
  @media  (min-width:576px){
   gap: 85%;

  }
  @media  (min-width:576px){
   gap: 85%;

  }
   */
}


