<%-include( "partials/header" )%>

    <div class="container compose ">
        <div class="content-wrapper">
            <h1>Contact</h1>
            <p class="padding">
                <%=contactContent%>
            </p>
        </div>
    </div>

    <%-include( "partials/footer" )%>